body{
  font-size: 1em;
  background: url("../images/me.jpg")no-repeat center fixed;
  background-size: cover;
}
header{
  font-size:  2em;
  text-align: center;
  padding-left: 8%;
  background-color: black;
  opacity:.5;
  height:180px;
  border: orange 20px solid;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: height 1.05s;

}
header:hover{
  transition: 1s;
  height:260px;
}
.cover{
  padding-left: 29%;
}
h1{
  border:white 5px solid;
  width:370px;
  color: #FFE0B2;
  padding: 1%;
  text-align: center;
  font-style: italic;
  font-size: 2em;
}
nav{
  text-align: center;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 890px;
  padding-left: 17%;
  border-radius: 20px;
  height:50px;
  padding-top: 0.9%;

}
nav .home:hover{
  background-color: lightblue;
}
nav .cv:hover{
  background-color: pink;
}
nav .contact:hover{
  background-color: yellow;
}
a{
  padding:35px 50px 0px 80px;
  text-decoration: none;
}
.picture{
  padding-left: 550px;
  padding-top: 2%;
}
img{
  border: white solid 5px;
  height:200px;
  width:200px;
}
.para{
  padding-top: 1.5%;
  padding-left: 14%;
}
.note{
  opacity: .8;
  padding: 2%;
  font-size: 1.5em;
  width:900px;
  height:500px;
  background:linear-gradient(#FF9100,#FFAB40,#FFD180);
  text-align: justify;
}
.intro{
  font-size: 1.5em;
}
.mainn{
  padding-top:1%;
}
.mid{
  padding-top: 1%;
}
.conclusion{

  padding-top:1%;
}
footer{
 padding: 6% 2% 2%;
 opacity: .6;
 text-align: right;
  color: white;
}
.foot{
  padding: 6% 1% 1%;
  border: 5px white solid;
  background: black;
 font-size: 1.10em;
}
@media screen and (max-width:1000px){
  header{
    font-size:  100%;
    padding-left: 5%;
    height:5%;
    padding-bottom: 2%;
  }
  header:hover{

    height:20%;
  }
  h1{
    width:39%;
    padding: 2%;
    font-size: 140%;
  }
  .cover1{
    padding-left: 32%;
    padding-top: 0px;
  }
  nav{
    display: flex;
    flex-direction: column;
    font-size:140%;
    width:75%;
    padding:.9% 9% 1% 9%;
    border-radius: 20px;
    height:5%;
  }
  a{
    padding:.35% 6% 0% 8%;
    text-decoration: none;
  }
  .picture{
    padding-left: 40%;
    padding-top: 2%;
  }
  .note{
    width:85%;
    height:50%;
  }
}
