header{
  font-size:  2em;
  text-align: center;
  padding-left: 130px;
  background-color: black;
  opacity:.5;
  height:180px;
  border: orange 20px solid;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
header:hover{
  transition: 1s;
  height:260px;
}
h1{
  border:white 5px solid;
  width:370px;
  color: #FFE0B2;
  padding: 10px;
  text-align: center;
  font-style: italic;
  font-size: 2em;
}
.cover1{
  padding-left: 320px;
  padding-top: 0px;
  }
nav{
  text-align: center;
  font-size: 1em;
  color: white;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-left: 70px;
}
img{
  height: 200px;
  width: 200px;
}
.bio{
  padding-left: 125px;
}
.contact{
  padding-left: 125px;
}
.main{
  display: flex;
  flex-direction: row;
}
.education{
  width:50%;
}
.qualify{
  background-color: lightblue;
}
.another{
  display: flex;
  flex-direction: column;
}
p{
  padding-left: 80px;
}
.degree{
  background: lightgreen;
}
.current{
  background-color: pink;
}
footer{
 padding: 60px 20px 20px;
 opacity: .6;
 text-align: right;
  color: white;
}
.foot{
  padding: 60px 10px 5px;
  border: 5px white solid;
  background: black;
 font-size: 1.10em;
}
