body{
  background: url("../images/me.jpg")no-repeat center fixed;
  background-size: cover;
}
header{
  background-color: black;
  opacity: .3;
  height:170px;
  border: orange 20px solid;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header:hover{
  transition: 1s;
  height:250px;
}
h1{
  color: #FFE0B2;
  text-align: center;
  font-style: italic;
  font-size: 2em;
  height:5px;
  padding-right: 100px;
}
h2{
  text-align: center;
  color:#FFE0B2;
  font-size: 4em;
  padding-left: 200px;
}
h3{
  color: #FFE0B2;
  text-align: center;
  font-style: italic;
  font-size: 2em;
  height:5px;
  padding-right: 100px;
}
.edit{
  height:300px;
  width:240px;
  float: left;
  border: grey solid 10px;
  opacity:.8;
  border-radius: 20%;
}
i{
  padding:20px;
  color: white;
}
img{
  height:200px;
  width:220px;
  padding-left: 10px;
  border-radius: 10%;
}
div{
  padding: 10px;
  padding-top: 30px;
}
section{
  cursor: pointer;
  padding-left: 120px;
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  height:350px;
  text-align: center;
}
a{
  font-size: 2em;
  color:white;
}
.bio{
  background: black;
  width: 200px ;
  height:120px;
  border: 5px solid grey;
  border-radius: 90px;
  opacity: .7;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 70px;
}
.bio:hover{
  background-color: grey;
  width:240px;
  transition: .6s;
}
.contact{
  background-color:black;
  width: 200px ;
  height:120px;
  border: 5px solid grey;
  border-radius: 90px;
  opacity: .7;
  color:white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 70px;
}
.contact:hover{
  background-color: grey;
  width:240px;
  transition: .6s;
}
.cv{
 background-color:black;
 width: 200px ;
 height:120px;
 border: 5px solid grey;
 border-radius: 90px;
 opacity: .7;
 color:white;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 padding-top: 70px;
}
.cv:hover{
  background-color: grey;
  width:240px;
  transition: .6s;
}
footer{
  color: white;
  float:right;
}
