body{
  background: url("../images/ooo.jpeg")no-repeat center fixed;
  background-size: cover;
}
header{
  background-color: black;
  opacity:.5;
  height:180px;
  border: orange 20px solid;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header:hover{
  transition: 1s;
  height:250px;
}
h1{
  color: #FFE0B2;
 font-style: italic;
 padding: 5px;
}
p4{
  font-family: 'Dancing Script', cursive;
}
p2{
  padding-left: 140px;
  padding-top: 5px;
}
p3{
  padding: 10px;
  font-size: 2.10em;
  border: white 5px solid;
  width:370px;
  font-style: normal;
}
img{
  height:90px;
  width:120px;
  padding-left: 30px;
}
h2{
  color: white;
  text-align: center;
  font-size: 1.80em;
  height:5px;
  padding-top: 20px;
  padding-left: 45px;
}
i{
  padding:20px;
  color: white;
}
p{
  padding-top: 10px;
  font-size: 4em;
}
div{
  padding-left: 20px;
}
.all{
  padding-left: 240px;
  padding-top: 10px;
}
.into{
  border-radius: 3%;
  width:810px;
  height:720px;
  background-image: url("../images/me.jpg");
  background-size: cover;
  opacity: .8;
}
section{
  text-align: center;
  padding-left: 270px;
  padding-top:35px;
}
section1{
  width:700px;
  display: flex;
  flex-direction: row;
  height:200px;
  text-align: center;

  padding-left: 150px;
}
a{
  font-size: 2em;
  color:white;
}
.bio{
  cursor: pointer;
  background: black;
  width: 200px ;
  height:120px;
  border: 5px solid orange;
  border-radius: 90px;
  opacity: .7;
  color: white;
  padding-top: 70px;
}
.bio:hover{
  background-color: grey;
  width:240px;
  transition: .6s;
}
.contact{
  cursor: pointer;
  background-color:black;
  width: 200px ;
  height:120px;
  border: 5px solid orange;
  border-radius: 90px;
  opacity: .7;
  color:white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 70px;
}
.contact:hover{
  background-color: grey;
  width:240px;
  transition: .6s;
}
.cv{
 cursor: pointer;
 background-color:black;
 width: 200px ;
 height:120px;
 border: 5px solid orange;
 border-radius: 90px;
 opacity: .7;
 color:white;
 padding-top: 70px;
}
.cv:hover{
  background-color: grey;
  width:240px;
  transition: .6s;
}
footer{
 padding: 60px 20px 20px;
 opacity: .6;
 text-align: right;
  color: white;
}
.foot{
  padding: 60px 10px 5px;
  border: 5px white solid;
  background: black;
 font-size: 1.10em;
}
